.accountant-container {
  padding: 50px;
  width: 100%;
  color: var(--text);
  max-width: 1200px;  
  margin: 0 auto;      
}

.page-title {
  font-size: 38px;
  font-weight: 800;
  margin-bottom: 30px;
  color: var(--text);
}

/* KPI GRID */
.kpi-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 50px;
}

.kpi-card {
  background: var(--card);
  padding: 25px;
  border-radius: 18px;
  border: 1px solid var(--border);
  box-shadow: 0 0 25px rgba(16,185,129,0.12);
  transition: 0.3s;
}

.kpi-card:hover {
  box-shadow: 0 0 35px rgba(16,185,129,0.25);
  transform: translateY(-3px);
}

.kpi-card h4 {
  font-size: 18px;
  color: var(--text-muted);
  margin-bottom: 10px;
}

.value {
  font-size: 32px;
  font-weight: 700;
}

.action-section{
    align-items: center;
    justify-content: center;
}
/* ACTION SECTION */
.section-title {
  font-size: 26px;
  margin-bottom: 20px;
}

.action-buttons {
  display: flex;
  gap: 20px;
}

.action-btn {
  padding: 15px 28px;
  display: flex;
  align-items: center;
  gap: 10px;
  background: var(--green);
  color: #0c1116;
  border: none;
  font-size: 18px;
  border-radius: 14px;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 0 15px rgba(16,185,129,0.25);
  transition: 0.3s ease;
}

.action-btn:hover {
  background: var(--green-light);
  transform: translateY(-3px);
}


/* Mobile */
@media (max-width: 900px) {

  .kpi-grid {
    grid-template-columns: 1fr;
  }
  .action-buttons {
    flex-direction: column;
  }
}
